<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1>Add Item Below</h1>
    </div>
    <form name="groceryForm">

        <div class="alert alert-danger" role="alert" ng-show="groceryForm.$dirty && !groceryForm.$valid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid grocery item!
        </div>

        <div class="form-group">
            <input type="text" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="Grocery Item" ng-model="groceryItem.itemName" required>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="groceryForm.$valid && save()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>

        <div class="form-group">
            <a href="#/" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>
    </form>

</div>